{{- $theme := index . "theme" | default "tokyonight" -}}
{{ if eq $theme "catppuccin" -}}
theme = dark:Catppuccin Mocha,light:Catppuccin Latte
{{ else -}}
theme = dark:TokyoNight Night,light:TokyoNight Day
{{ end -}}
background-opacity = 0.95
copy-on-select = true
macos-option-as-alt = true
font-family = "IBM Plex Mono"
